.burger_ingredients_category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger_ingredients_category_img {
    width: 240px;
}

.burger_ingredients_category_price_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.burger_ingredients_category_count_coutainer {
    position: relative;
}