.register_container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_footer_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register_form_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}